[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==2.0.35"
alembic = "==1.13.3"
python-dotenv = "==1.0.1"
python-dateutil = "==2.9.0"
prettytable = "==3.11.0"
click = "==8.1.7"
colorama = "*"
faker = "*"

[dev-packages]
pytest = "==8.3.3"
pytest-mock = "==3.14.0"
ipdb = "==0.13.13"
